<div class="row mb-4">
  <div class="row mb-4">
    <h2 class="h2 border-left mx-3">
      {{tituloPagina}}
    </h2>
  </div>
</div>
<div class="card text-center">
  <div class="card-body">
    <h3 class="card-title">
      Conquiste o sonho da casa própria
    </h3>
    <p class="card-text">Em apenas alguns passos fique mais perto de segurar as chaves :)</p>
    <a routerLink="/dados-do-proponente" class="btn btn-primary" aria-label="Simular Financiamento">
      SIMULAR FINANCIAMENTO
    </a>
  </div>
</div>
