@font-face {
    font-family: 'barlow_condensedsemibold';
    src: url('BarlowCondensed-SemiBold-webfont.eot');
    src: url('BarlowCondensed-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('BarlowCondensed-SemiBold-webfont.woff2') format('woff2'),
         url('BarlowCondensed-SemiBold-webfont.woff') format('woff'),
         url('BarlowCondensed-SemiBold-webfont.ttf') format('truetype'),
         url('BarlowCondensed-SemiBold-webfont.svg#barlow_condensedsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

