h1 {
    position:relative;
    left:50px
}
.tabuleiro{
    width: 208px;
    height: 208px;
    background: linear-gradient(45deg, #000 25%, #00000000 25%,#00000000 75%, #000 75%, #000 100%), 
    linear-gradient(45deg, #000 25%, gray 25%,gray 75%, #000 75%, #000 100%);
    -webkit-background-size: 106px 106px;
    background-position: -1px -1px, 51px 51px;
}
.marcaCor1 {
    width: 50px;
    height:50px;
    background:gray;
}
.marcaCor2 {
    width: 50px;
    height:50px;
    background: black;
}