* {
    box-sizing: border-box;
}

.container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto ;
    grid-template-areas:"cabecalho cabecalho cabecalho" "navegacao navegacao navegacao" "secao secao lateral" "rodape rodape rodape";
    gap: 10px 10px;
}
p {
    margin: 3.5vh 0 1vh 5vh;
}

.cabecalho {
    width:98vw;
    height:15vh;
    background: gray;
    grid-area: cabecalho;
}
.navegacao {
    width:98vw;
    height:15vh;
    color: white;
    background: blue;
    grid-area: navegacao;
}
.secao {
    width:65.5vw;
    height: 45vh;
    padding: 0 0 1% 0;
    background: lightgray;
    grid-area: secao;
}
.lateral {
    width:31.5vw;
    height:45vh;
    background: gray;
    grid-area: lateral
}
.artigo {
    width: 60vw;
    height: 25vh;
    padding: 1vh;
    margin: 0 0 0 3.5%;
    background: gray;
    grid-area: artigo;
}
.rodape {
    width:98vw;
    height:10vh;
    background: gray;
    grid-area: rodape;
}