<div class="form">
  <form [formGroup]="formulario" (ngSubmit)="enviaMensagem()">
    <div class="caixa-form">
      <mat-form-field appearance="fill" hideRequiredMarker MatFormFieldControl="nome">
        <mat-label>
          <i class="material-icons">
            person
          </i> Your Name
        </mat-label>
        <input matInput formControlName="nome" required>
        <mat-error *ngIf="formulario.controls.nome.invalid">{{getErrorMessageNome()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" hideRequiredMarker MatFormFieldControl="email">
        <mat-label>
          <i class="material-icons">
            mail
          </i> Your E-mail
        </mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="formulario.controls.email.invalid">{{getErrorMessageEmail()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" hideRequiredMarker MatFormFieldControl="mensagem">
          <mat-label>
            <i class="material-icons">
              message
            </i>Your Message
          </mat-label>
        <textarea matInput formControlName="mensagem" required></textarea>
        <mat-error *ngIf="formulario.controls.mensagem.invalid">{{getErrorMessageMensagem()}}</mat-error>
      </mat-form-field>

      <div class=botao>
        <button [disabled]="formulario.invalid" type="submit" class="botao-submit">START CHAT</button>
      </div>
    </div>
  </form>
</div>

